.profileBlock{
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 0;
    margin: 0 auto;
}
.profileHelloText{
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 600;
}
.createdDate{
    font-size: 13px;
    color: #606060;
}
.loginLink{
    font-weight: 600;
}
.updateInfoProfileBlock{
    margin: 5px 0 30px;
}
.updateProfileBlockLabel{
    margin: 0 0 2px 0;
    font-size: 14px;
    font-weight: 600;
}
.updateInfoProfileBlock input{
    width: calc(100%);
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #dadada;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 11px 10px 9px;
    outline: none;
    color: #111111;
    margin-bottom: 10px;
}
.updateInfoProfileBlock input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    color: #111111;
}

.additionalProfileImage{
    width: 8px;
    height: 14px;
}
.updateInfoProfileBlock button{
    border-radius: 10px;
    width: calc(100%);
    height: 50px;
    background-color: #111111;
    padding: 0 10px;
    outline: none;
    color: #fafafa;
    border: 2px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
.Google-logo{
    width: 26px;
    height: 26px;
    margin-left: 10px;
}
.store-container{
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 0px;
    height: calc(100% - 30px);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.store-container h3{
    margin: 0;
}

.store-container-title{
    font-size: 25px;
    font-weight: 600;
}
.store-quantity{
    margin: 2px 0 30px;
    font-weight: 400;
    color: #7c7c7c;
    font-size: 14px;
}
.products-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.products-search-block{
    width: 400px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dedede;
    height: 46px;
    border-radius: 10px;
    align-items: center;
}
.products-search-block img{
    width: 17px;
    height: 17px;
}
.products-search-block input{
    width: calc(100% - 42px);
    height: 44px;
    border: none;
    background-color: #fafafa;
    border-radius: 10px;
    font-size: 14px;
    padding: 11px 10px 9px;
    outline: none;
    color: #111111;
}
.products-search-block input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    color: #111111;
}
.products-search-block button{
    width: calc(38px);
    height: 38px;
    background-color: #111111;
    padding: 0 10px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product-img {
    width: 300px;
    height: 400px;
    margin: 0 0 10px 0;
    object-fit: cover;
    overflow: hidden;
}
.product-item{
    height: 100%;
    min-height: 420px;
    width: 31%;
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    padding: 10px 10px 13px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dedede;
    align-content: space-between;
    margin-bottom: 35px;
}
.product-item {
    position: relative;
    display: inline-block;
}
.product-item:nth-child(3n) {
    margin-right: 0;
}
.itemLink{
    z-index: 0;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-img {
    width: 100%;
    height: 290px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    object-fit: cover;
    overflow: hidden;
}
.product-text{

}
.product-title{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
.product-category{
    font-size: 13px;
    font-weight: 400;
    color: #818181;
}
.product-price{
    font-size: 15px;
    font-weight: bold;
}
.product-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}
.product-slider{
    width: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.product-container-slider-preview{
    width: 400px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
}
.product-thumbnails {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.product-sizes-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
}
.product-size{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50px;
    margin-right: 5px;
    border-radius: 8px;
    border: 2px solid #000000;
    background-color: #fafafa;
    padding: 5px 20px;
    cursor: pointer;
}
.product-size.selected-size {
    background-color: #000000;
    color: #fafafa;
}
.product-info-block{
    width: calc(100% - 430px);
    height: 483px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.product-info-price{
    font-weight: 500;
}
.product-info-block p{
    margin: 5px 0;
}
.changeBlockText{
    margin: 5px 0 10px 0;
    color: #111111;
    font-size: 14px;
}
.profileBlockCategories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-additionalInformation-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.product-btn{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: 600;
    background-color: #111111;
    color: #fafafa;
    cursor: pointer;
}
.loading-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.errorMessage{
    font-weight: 500;
    color: #d50404;
}
@media screen and (max-width: 600px){
    .profileBlock{
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px 15px 0;
        margin: 0 auto;
    }
}