.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.videoPlayer {
  width: 100vw;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center 1px;
}
.videoPlayerNewCollection {
  width: 100vw;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}
.videoContainer {
  width: 100%;
  position: relative;
  font-family: "Century Gothic", serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textLogo{
  margin-left: 4px;
  width: 100px;
}
.textLogoNewCollection{
  margin-left: 10px;
  width: 100px;
}
.homeDescriptionBlock{
  width: 100%;
  max-width: 600px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.homeDescriptionBlock p{
  text-align: center;
  font-size: 16px;
}
.homeOrderSliderBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 220px;
  height: 118px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.text p{
  text-align: center;
  color: white;
  margin-top: 5px;
  font-weight: lighter;
}
.slider {
  position: relative;
  overflow: hidden;
}
.mobileSliderBlock{
  display: none;
}
.slideContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.blurContainer {
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.blurBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  }
.slideImgBlock{
  width: 335px;
  max-width: 100%;
  height: 500px;
}
.slideController{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.slideImg{
  width: 335px;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: 4;
}
.mobileSlideImg{
  width: 100%;
  max-width: 100%;
  height: 3500px;
  object-fit: cover;
  z-index: 4;
  display: none;
}
.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-img.previous {
  opacity: 0;
  z-index: -1;
}

.slide-img.current {
  opacity: 1;
  z-index: 1;
}

.arrowSlider {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
}

.arrowSliderImg{
  width: 10px;
  margin-left: 1px;
}
.lastArrowSliderImg{
  transform: rotate(-180deg);
  width: 10px;
  margin-right: 1px;
}
.arrowRight {
  width: 20px;
  height: 20px;
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
  background-color: rgb(255, 255, 255);
  pointer-events: auto;
  cursor: pointer;
}
.arrowLeft {
  width: 20px;
  height: 20px;
  clip-path: polygon(0% 50%, 100% 0, 100% 100%);
  background-color: rgb(255, 255, 255);
  pointer-events: auto;
  cursor: pointer;
}
.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(255, 255, 255, 1);
}

.blurContainer {
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.blurBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.slideImg {
  width: 335px;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: 1;
  position: relative;
  transition: opacity 0.5s ease;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-img.previous {
  opacity: 0;
  z-index: -1;
}

.slide-img.current {
  opacity: 1;
  z-index: 1;
}

.sliderOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  width: 325px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.arrowSlider {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
}

.arrowSliderImg {
  width: 10px;
  margin-left: 1px;
}

.lastArrowSliderImg {
  transform: rotate(-180deg);
  width: 10px;
  margin-right: 1px;
}

.arrowRight,
.arrowLeft {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  pointer-events: auto;
  cursor: pointer;
}

.arrowRight:hover,
.arrowLeft:hover {
  background-color: rgba(255, 255, 255, 1);
}

.arrowRight::before,
.arrowLeft::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
}

.arrowRight {
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
}

.arrowLeft {
  clip-path: polygon(0% 50%, 100% 0, 100% 100%);
}
.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.mobileSliderOverlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

@media screen and (max-width: 1000px){
  /*.slideContainer {*/
  /*  display: flex;*/
  /*  flex-direction: column-reverse;*/
  /*  width: 100%;*/
  /*}*/
  /*.mobileSliderBlock{*/
  /*  display: block;*/
  /*}*/
  /*.slideController{*/
  /*  width: 100%;*/
  /*  display: block;*/
  /*}*/
  /*.slideImg{*/
  /*  width: 335px;*/
  /*  max-width: 100%;*/
  /*  height: 500px;*/
  /*  object-fit: cover;*/
  /*  z-index: 4;*/
  /*  transition: opacity 0.5s ease;*/
  /*  opacity: 0;*/
  /*}*/
  .videoPlayer {
    width: 100vw;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center 1px;
  }
  .videoPlayerNewCollection {
    width: 100vw;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
  }
}
@media screen and (max-width: 900px){
  .slideImg{
    width: 335px;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    z-index: 4;
    transition: opacity 0.5s ease;
  }
}

@media screen and (max-width: 800px){
  .videoPlayer {
    width: 100vw;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center 1px;
  }
  .videoPlayerNewCollection {
    width: 100vw;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .logo {
    width: 220px;
    height: 118px;
  }
}
@media screen and (max-width: 670px){
  .slideImg{
    opacity: 0;
    height: 500px;
  }
  .mobileSliderBlock{
    position: relative;
    display: flex;
    width: 100%;
    height: 420px;
  }
  .mobileSlideImg{
    width: 100%;
    max-width: 100%;
    height: 420px;
    object-fit: cover;
    z-index: 4;
    display: flex;
  }
  .sliderOverlay {
    display: none;
  }
  .mobileSliderOverlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
  }
}
@media screen and (max-width: 600px){
  .homeDescriptionBlock{
    width: 100%;
    max-width: 600px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .homeDescriptionBlock p{
    text-align: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 500px){
  .videoPlayer {
    width: 100vw;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center 1px;
  }
  .videoPlayerNewCollection {
    width: 100vw;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .logo {
    width: 184px;
    height: 95px;
  }
  .slideImg{
    opacity: 0;
    height: 520px;
  }
}
@media screen and (max-width: 430px){
  .slideImg{
    opacity: 0;
    height: 570px;
  }
}
@media screen and (max-width: 350px){
  .slideImg{
    opacity: 0;
    height: 620px;
  }
}
@media screen and (max-width: 280px){
  .slideImg{
    opacity: 0;
    height: 700px;
  }
}
@media screen and (max-width: 245px){
  .slideImg{
    opacity: 0;
    height: 940px;
  }
}