.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #111111;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #fafafa;
    border-bottom: 1px solid #dedede;
    height: 60px;
}
.footer-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    margin: 0 auto;
    color: #111111;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(241, 241, 241);
    height: 230px;
    border-top: 1px solid #d5d5d5;
}
.product-container-slider-preview{
    width: 400px;
    height: 480px;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

.footer-block{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-privacy-text{
    font-size: 13px;
    color: #606060;
}
.footer-privacy-link-text{
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #606060;
    color: #606060;
    font-weight: 500;
}
.footer-navigation-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.footer-navigation-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-right: 10vw;
}
.footer-navigation-block a{
    line-height: 28px;
    color: #606060;
}
.footer-info-social-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.footer-info-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-error-block{
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}
.footer-btns-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-cooperation-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #111111;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 25px;
}
.footer-error-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #111111;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 5px;
    border-radius: 25px;
}
.footer-info-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.footer-info-title p{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.footer-social-links{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}
.footer-social-links img{
    width: 28px;
    cursor: pointer;
}
.delete-home-btn{
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-home-btn img{
    width: 16px;
    height: 22px;
}
.footer-social-links-block{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dadada;
    margin-left: 7px;
    border-radius: 7px;
}
.footer-social-links-block:first-child{
    border: 1px solid #dadada;
    margin-left: 0;
    border-radius: 7px;
}
.footer-social-links-block img{
    width: 28px;
    cursor: pointer;
}
.profileIcoBlock{
    height: 33px;
    width: 33px;
    border: 2px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.profileIco{
    width: 16px;
}
.header-block{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.main-product-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.main-article-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.article-info-block{
    width: 100%;
    max-width: 1000px;
}
.article-info-background-image{
    height: 180px;
    border-radius: 10px;
    margin: 20px 0 15px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.article-info-header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.article-info-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
.article-info-header-title{
    width: calc(100% - 170px);
}
.article-info-header h1{
    font-size: 28px;
    font-weight: bold;
}
.categories-head-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.categories-head-list-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blockCategory{
    font-size: 13px;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.blockCategory.selected{
    font-size: 13px;
    border: 2px solid #111111;
    border-radius: 8px;
    padding: 4px 9px;
    cursor: pointer;
}
.articleDate{
    font-size: 14px;
    color: #7c7c7c;
}
.categories-head-description{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
}
.article-html-content{
    outline: none;
    margin-bottom: 30px;
}
.category-head-item{
    border: 1px solid #dadada;
    padding: 3px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.commentsListBlock{
    margin: 10px 0 20px 0;
}
.favorite-button-image{
    width: 20px;
    height: 20px;
}
.commentsContent{
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 8px;
    margin: 0 0 10px 0;
}
.commentBlock h3{
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 10px 0;
}
.comment-text-block{
    margin-bottom: 5px;
    min-height: 140px;
    border-radius: 8px;
    max-height: 280px;
    background-color: rgba(255, 255, 255, 0.8);
}
.best-product-block{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.best-product-scroll-block{
        margin-right: -20px;
        width: calc(100% + 17px);
        overflow-y: scroll;
}
.best-product-scroll-block::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.best-product-scroll-block {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.best-product-items-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 35px;
}
.best-product-items-body::-webkit-scrollbar {
    width: 0;
}
.best-product-items-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}
.categoriesBlock::-webkit-scrollbar {
    width: 0;
}
.best-product-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
    box-shadow: 2px 2px 12px rgba(17, 17, 17, 0.06);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dadada;
    border-radius: 10px;
    min-width: 280px;
    color: #7c7c7c;
    font-size: 15px;
}
.best-product-input a{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}
.best-product-input img{
    width: 9px;
    margin-left: 2px;
}
.best-product-head{
    margin: 35px 0 20px;
}
.best-product-head h3{
    font-size: 25px;
    font-weight: 600;
}
.header-logo{
    width: 65px;
    height: 35px;
}
.footer-title-logo{
    width: 65px;
    height: 35px;
}
.footer-title-textLogo{
    margin-top: 5px;
    width: 100px;
    margin-right: 10px;
}
.error-btn-logo{
    margin-bottom: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
.product-sizes-table{
    width: 110px;
    color: #606060;
    padding: 0 0 0 0;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    border-bottom: 1px solid rgba(96, 96, 96, 0.5);
}
.product-sizes-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
}
.product-sizes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0 5px;
}
.product-sizes-cont{
    margin-bottom: 10px;
}
.header-links-block{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #afafaf;
    font-weight: 400;
}
.activeNavLink{
    font-weight: 600;
    color: #111111;
}
.modal-overlay {
    position: absolute;
    top: 65px;
    z-index: 1000;
    display: flex;
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 8px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 12px 10px 10px;
    border-bottom: 1px solid #dedede;
}
.modal-header-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal-header-title h4{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 3px 0;
}
.modal-header-title-value{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}
.close-button {
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.modal-header-info p{
    font-size: 13px;
}
.mini-cart-no-items a{
    width: calc(100%);
    background-color: #111111;
    color: #fafafa;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 8px;
}
.mini-cart-no-items p{
    margin: 5px 0;
}
.mini-cart-items-block{
    padding: 12px 1px 2px 10px;
    margin-bottom: 60px;
    max-height: 300px;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
.mini-cart-items-block::-webkit-scrollbar {
    width: 12px;
}

.mini-cart-items-block::-webkit-scrollbar-track {
    background: #fafafa;
}

.mini-cart-items-block::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 6px;
    width: 6px;
    border: 4px solid #fafafa;
}
.mini-cart-items-block > * {
    max-width: 100%;
}
.mini-cart-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
.mini-cart-item:last-child{
    margin-bottom: 0;
}
.mini-cart-item-img{
    width: 70px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    backdrop-filter: blur(3px);
}
.mini-cart-item-info{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: calc(100% + 20px);
    margin: 0 0 0 10px;
}
.mini-cart-item-info-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.mini-cart-item-info-head button{
    width: 40px;
}
.addImagesContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

}

.deleteBtnBlock{
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
    margin-right: 3px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 7px;
    border: 1px solid #dedede;
}
.deleteBtnBlock img{
    width: 17px;
    height: 21px;
}
.deleteModalBlock{
    max-width: 450px;
    font-family: 'Raleway', sans-serif;
    background-color: #fafafa;
}

.articleBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.admin-products-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.filterBlock{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100%);
    max-width: 390px;
    margin: 10px 0 0 0;
    border: 1px solid #dadada;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}
.filterBlock h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.addArticlesBtn{
    width: 100%;
    margin-top: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #111111;
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
    color: #fafafa;
    outline: none;
}
.addItemBtn{
    width: 180px;
    margin-top: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #111111;
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
    color: #fafafa;
    outline: none;
}
.addItemBtn:hover{
    padding: 8px 12px;
    background-color: rgba(17, 17, 17, 0.89);
    border-radius: 8px;
    cursor: pointer;
    color: #fafafa;
    outline: none;
}
.admin-products-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
}
.best-product-item{
    height: 100%;
    min-height: 300px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    padding: 10px 10px 13px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dedede;
    align-content: space-between;
    margin-bottom: 15px;
    margin-right: 35px;
}
.best-product-item {
    position: relative;
    display: inline-block;
}
.best-product-item:nth-child(4n) {
    margin-right: 0;
}
.best-product-img {
    width: 100%;
    height: 260px;
    filter: blur(0.4px);
    border-radius: 10px;
    margin: 0 0 10px 0;
    object-fit: cover;
    overflow: hidden;
}
.component-product-item{
    height: 100%;
    min-height: 370px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    padding: 10px 10px 13px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dedede;
    align-content: space-between;
    margin-bottom: 35px;
    margin-right: 35px;
}
.component-product-item {
    position: relative;
    display: inline-block;
}
.component-product-item:nth-child(3n) {
    margin-right: 0;
}

@media screen and (max-width: 1000px) {
    .admin-products-block{
        justify-content: center;
    }
    .component-product-item{
        margin-right: 15px;
    }
    .component-product-item:nth-child(3n) {
        margin-right: 15px;
    }
}
@media screen and (max-width: 685px) {
    .admin-products-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .component-product-item{
        margin-right: 0;
    }
    .component-product-item:nth-child(3n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 620px) {
    .admin-products-block{
        justify-content: center;
    }
    .component-product-item{
        margin-right: 0;
    }
    .component-product-item:nth-child(3n) {
        margin-right: 0;
    }
}
.admin-product-img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    object-fit: cover;
    overflow: hidden;
}
.products-list-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
}
.admin-product-item{
    height: 100%;
    min-height: 370px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    padding: 10px 10px 13px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dedede;
    align-content: space-between;
    margin-bottom: 35px;
    margin-right: 35px;
}
.admin-product-item {
    position: relative;
    display: inline-block;
}
.admin-product-item:nth-child(3n) {
    margin-right: 0;
}

@media screen and (max-width: 1000px) {
    .products-list-block{
        justify-content: center;
    }
    .admin-product-item{
        margin-right: 35px;
    }
    .admin-product-item:nth-child(even){
        margin-right: 0;
    }
    .admin-product-item:last-child{
        margin-right: 0;
    }
    .admin-product-item:nth-child(3n) {
        margin-right: 35px;
    }
}
@media screen and (max-width: 685px) {
    .products-list-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .admin-product-item{
        margin-right: 0;
    }
    .admin-product-item:nth-child(3n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 620px) {
    .products-list-block{
        justify-content: center;
    }
    .admin-product-item{
        margin-right: 0;
    }
    .admin-product-item:nth-child(3n) {
        margin-right: 0;
    }
}
.product-info-img {
    width: 100%;
    height: 350px;
    filter: blur(0.4px);
    border-radius: 10px;
    margin: 0 0 10px 0;
    object-fit: cover;
    overflow: hidden;
}
.product-stat-img {
    height: 250px;
    border-radius: 10px;
    margin: 5px 15px 5px 0;
    object-fit: cover;
    overflow: hidden;
}
.favorite-button-block{
    border: 1px solid #dedede;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px;
    margin-left: 10px;
    cursor: pointer;
}
.nav-comment-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.send-emoji-button{
    height: 45px;
    margin-top: 5px;
    outline: none;
    font-size: 15px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 9px;
    color: #111111;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #dedede;
}
.comments-header{
    margin: 25px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.comments-header h3{
    font-size: 25px;
    font-weight: bold;
}
.comments-header-btn{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}
.comments-header-btn-left{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    color: #111111;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #dedede;
    margin-left: 10px;
}
.comments-header-btn-left img{
    width: 10px;
    rotate: 180deg;
    margin-right: 2px;
}
.comments-header-btn-right{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    color: #111111;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #dedede;
    margin-left: 10px;
}
.comments-header-btn-right img{
    width: 10px;
    margin-left: 2px;
}
.send-comment-button{
    height: 48px;
    margin-top: 5px;
    outline: none;
    font-size: 15px;
    box-shadow: none;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #fafafa;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #111111;
}
.send-comment-link{
    height: 48px;
    margin-top: 5px;
    outline: none;
    font-size: 15px;
    box-shadow: none;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #fafafa;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #111111;
}
.avatarImageBlock{
    width: 40px;
    height: 40px;
    padding: 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarImage{
    width: 21px;
    height: 25px;
    margin: 6px 8px 8px;
}
.addImagesBlock{
    max-width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.addProdBlock{
    font-family: 'Raleway', sans-serif;
    background-color: #fafafa;
    max-width: 800px;
}
.changePassContainer{
    font-family: 'Raleway', sans-serif;
    background-color: #fafafa;
    width: 100%;
    max-width: 600px;
    box-shadow: 1px 1px 15px rgba(17, 17, 17, 0.07);
}
.changePassInput{
    height: 44px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
}
.addProdBlockBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    max-height: 63vh;
    overflow-y: auto;
}
.mini-cart-item-title{
    margin-top: 2px;
    font-weight: 500;
}
.mini-cart-item-size{
    font-weight: 400;
}
.transparent-text{
    opacity: 0.3;
}
.delete-button{
    width: 14px;
    height: 16px;
    cursor: pointer;
}
.mini-cart-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.mini-admin-cart-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mini-count-pad{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #dadada;
    padding: 2px 0 1px;
}
.mini-count-pad p{
    margin-bottom: 3px;
}
.mini-count-pad-icon{
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.count-pad-btn{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.cartNavLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #fafafa;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 7px;
    cursor: pointer;
}
.inactiveCartNavLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 17, 17, 0);
    color: #111111;
    border: 2px solid #111111;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 7px;
    cursor: pointer;
}
.cartLogo{
    width: 16px;
    height: 17px;
    margin-right: 10px;
}
.go-to-cart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgba(17, 17, 17, 0);
    border: 2px solid #111111;
    width: calc(100% - 20px);
    padding: 10px 0;
    border-radius: 8px;
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.size-table-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-table-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 8px;
    padding: 5px 15px 20px 15px;
    border: 1px solid #dadada;
    max-width: 800px;
    width: 100%;
    max-height: 92%;
    overflow-y: scroll;
}

.size-table-modal-content p{
    font-size: 14px;
    margin: 0;
}
.big-photo-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border-radius: 8px;
    padding: 0 5px 15px 15px;
    border: 1px solid #dadada;
    max-width: 1000px;
    width: 100%;
    height: 90%;
    z-index: 1000;
}
.big-photo-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 15px;
}
.img-magnifier-container {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 12px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
.big-photo-slider-preview{
    width: calc(100% - 15px);
    height: calc(100%);
    border-radius: 12px;
    object-fit: cover;
}
.img-magnifier-glass {
    position: absolute;
    border: 2px solid #000;
    border-radius: 12px;
    cursor: none;
    width: 180px;
    height: 200px;
    background-size: auto;
    display: none;
}
.big-photo-slider-info{
    width: 100%;
    max-width: 360px;
    margin-bottom: 15px;
}
.chartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.periodResults{
    margin-top: 15px;
}
.periodResultsExplanations{
    font-size: 13px;
    color: #606060;
    margin-bottom: 15px;
}
.chartBtnBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.chartBtnCategory{
    display: flex;
    flex-direction: row;
}
.chartBtnCategory:first-child{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.chartBtn{
    width: 42px;
    height: 42px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #dadada;
}
.selectedChartBtn{
    width: 41px;
    height: 41px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #111111;
}
.chartBtn:first-child{
    margin-left: 0;
}
.selectedChartBtn:first-child{
    margin-left: 0;
}
.chartCategoryBtn{
    height: 42px;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #dadada;
}
.chartCategoryBtn:first-child{
    margin-left: 0;
}
.selectedChartCategoryBtn:first-child{
    margin-left: 0;
}
.selectedChartCategoryBtn{
    height: 41px;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #111111;
}
.img-magnifier-glass.visible {
    display: block;
}
.big-photo-thumbnail {
    width: 68px;
    height: 85px;
    border-radius: 8px;
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    object-fit: cover;
}
.big-photo-thumbnail.selected {
    border: 2px solid #111111;
}

.big-photo-thumbnail:hover {
    opacity: 0.7;
}
.addProdSizesBlock{
    display: flex;
    flex-direction: row;
}
.addProdSizesBlockItem{

}
.modal-content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.modal-content-header h2{
    font-size: 22px;
    font-weight: 600;
}
.modal-content-info{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
}
.modal-content-info img{
    width: 210px;
    margin-right: 20px;
}
.big-photos-content-info{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
}
.big-photo-close {
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.big-photo-close:hover,
.big-photo-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.big-photo-mobile-close{
    display: none;
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.big-photo-mobile-close:hover,
.big-photo-mobile-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.big-photo-mobile-close-block{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.product-info-container{
    width: calc(100% - 430px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.size-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.size-column {
    flex: 1;
    padding: 0;
}
.NewCollection{
    width: 100%;
}
.size-item {
    display: flex;
    flex-direction: column;
}

.size-item p {
    margin: 5px 0;
    text-align: center;
}

.size-item p:first-child {
    font-weight: bold;
}
.NewCollectionText{
    font-size: 25px;
    color: #fafafa;
    font-weight: 900;
}
.NewCollectionContainer:first-child{
    margin-top: 2px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111111;
}
.NewCollectionContainer:last-child{
    margin-bottom: 2px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111111;
}

.NewCollectionContainer img {
    width: 130px;
    height: 25px;
    margin-right: 130px;
}
.NewCollectionContainer p {
    font-size: 25px;
    font-weight: 900;
    margin: 0 25px;
    color: #fafafa;
}
.header-links-block-mobile{
    display: none;
    flex-direction: row;
    align-items: center;
}
.header-links-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-info-block-head-mobile{
    display: none;
}
.product-info-block-head-mobile h3{
    font-size: 22px;
    font-weight: 600;
}
.product-info-block-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.product-info-block-header h3{
    font-size: 22px;
    font-weight: 600;
}
.product-additional-info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 20px 0;
}
.product-additional-info-block b{
    font-size: 13px;
}
.product-additional-info-block p{
    font-size: 12px;
}
.product-thumbnails-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.product-main-info-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -20px;
}
@media screen and (max-width: 1000px){
    .addArticlesBtn{
        width: 180px;
    }
    .filterBlock{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: calc(100%);
        max-width: calc(100%);
        margin: 10px 0 0 0;
        border: 1px solid #dadada;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 10px;
    }
    .articleFilterBlock{
        width: 100%;
        margin-bottom: 15px;
    }
    .articleBlock{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .size-table-modal-content {
        background-color: #fefefe;
        margin: 15px;
        border-radius: 8px;
        padding: 5px 15px 20px 15px;
        border: 1px solid #dadada;
        max-width: 800px;
        width: 100%;
        max-height: 92%;
        overflow-y: scroll;
    }
    .header-block{
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .modal-content {
        margin-right: 15px;
    }
    .best-product-block{
        width: 100%;
        max-width: 1000px;
        /*padding: 0 15px;*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .best-product-head{
        padding: 0 15px;
    }
    .best-product-input{
        margin-right: 15px;
    }
    .best-product-items-block{
        padding: 0 15px;
    }
    .best-product-scroll-block{
        margin: 0 -8px 0 0;
        width: calc(100% + 8px);
        overflow-y: scroll;
    }
    .footer-block{
        width: 100%;
        max-width: 1000px;
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .main-product-container{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .product-main-info-container{
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;
        display: flex;
        flex-direction:row ;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: -20px;
    }
    .big-photo-modal-content {
        background-color: #fefefe;
        margin: 10% 15px;
        border-radius: 8px;
        padding: 0 5px 15px 15px;
        border: 1px solid #dadada;
        max-width: 100%;
        width: calc(100% - 30px);
        height: 90%;
        z-index: 1000;
    }
    .main-article-container{
        width: calc(100% - 20px);
        max-width: 100%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    .product-info-block-header{
        display: none;
    }
    .product-info-block-head-mobile{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 15px;
        margin: 20px 0 -10px;
    }
    .product-info-block-head-mobile h3{
        font-size: 22px;
        font-weight: 600;
    }
    .product-additional-info-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fafafa;
        border-radius: 10px;
        margin: 0 0 20px;
    }
    .product-container-slider-preview{
        width: 320px;
        height: 440px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
    }
    .product-thumbnails-block {
        width: 320px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product-info-container{
        width: calc(100% - 330px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
}
@media screen and (max-width: 800px){
    .addProdBlock{
        font-family: 'Raleway', sans-serif;
        background-color: #fafafa;
        max-width: 100%;
        width: calc(100% - 30px);
    }
    .addProdBlockBody{
        display: flex;

        flex-direction: column !important;
    }
    .big-photos-content-info{
        height: 100%;
        max-height: 95%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
        overflow-y: scroll;
    }
    .big-photo-close {
        display: none;
    }
    .big-photo-mobile-close{
        width: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        color: #aaa;
        float: right;
        margin-top: 5px;
        margin-right: 10px;
        font-size: 21px;
        font-weight: bold;
        cursor: pointer;
    }

    .big-photo-mobile-close:hover,
    .big-photo-mobile-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .img-magnifier-container {
        width: calc(100%);
        height: calc(100% - 15px);
        border-radius: 12px;
        margin-top: 5px;
        position: relative;
        display: inline-block;
    }
    .big-photo-slider-preview{
        width: calc(100% - 5px);
        height: calc(100%);
        border-radius: 12px;
        object-fit: cover;
    }
    .big-photo-slider-info{
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 700px){
    .product-container-slider-preview{
        width: 260px;
        height: 360px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
    }
    .product-thumbnails-block {
        width: 260px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product-info-container{
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
}
@media screen and (max-width: 600px){
    .changePassContainer{
        font-family: 'Raleway', sans-serif;
        background-color: #fafafa;
        border-radius: 10px;
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
    .header-block{
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .header-links-block{
        display: none;
    }
    .header-links-block-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .NewCollectionText{
        font-size: 20px;
        color: #fafafa;
        font-weight: 900;
        padding: 0 30px;
    }
    .footer-navigation-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    .footer-container{
        height: 380px;
    }
    .modal-content-info img{
        display: none;
        width: 210px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 550px){
    .article-info-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .product-main-info-container{
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;
        display: flex;
        flex-direction:column ;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: -20px;
    }
    .product-container-slider-preview{
        width: 100%;
        max-width: 100%;
        height: 600px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
    }
    .product-thumbnails-block {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product-info-container{
        width: calc(100%);
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;
    }
}
@media screen and (max-width: 500px){
    .addArticlesBtn{
        width: 100%;
    }
    .addItemBtn{
        width: 100%;
    }
    .footer-btns-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footer-cooperation-btn{
        margin-left: 0;
    }
    .footer-error-block{
        font-size: 17px;
        font-weight: 600;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .footer-container{
        height: 455px;
    }
    .footer-privacy-text{
        font-size: 13px;
        margin-bottom: 15px;
        color: #606060;
    }
    .chartBtnBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .product-container-slider-preview{
        width: 100%;
        max-width: 100%;
        height: 520px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
    }
    .big-photos-content-info{
        height: 100%;
        max-height: 92%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 430px){
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: calc(100% - 30px);
        background-color: #fafafa;
        border: 1px solid #dedede;
        border-radius: 8px;
    }
    .addProdSizesBlock{
        display: flex;
        flex-direction: column;
    }
    .addProdSizesBlockItem{
        margin: 0;
    }
    .deleteModalBlock{
        align-self: center;
        max-width: 100%;
    }
    .product-container-slider-preview{
        width: 100%;
        max-width: 100%;
        height: 450px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;
    }
    .product-info-block-head-mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 15px;
        margin: 20px 0 -10px;
    }
}
@media screen and (max-width: 400px){
    .footer-container{
        height: 460px;
    }
    .size-item-first {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 340px){
    .admin-product-item {
        height: 100%;
        width: calc(100%);
        margin-right: 0;
    }
    .footer-container{
        height: 480px;
    }
}
@media screen and (max-width: 320px){
    .best-product-input{
        margin: 0 15px;
        min-width: 10px;
        width: calc(100% - 30px);
        max-width: 100%;
    }
    .footer-info-social-block{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
    .footer-container{
        height: 580px;
    }
    .footer-info-block{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }
}
@media screen and (max-width: 280px){
    .footer-container{
        height: 620px;
    }
}