.placingOrderBlock{
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 25px;
}
.placingOrderBlockRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.placingOrderBlock h2{
    font-size: 25px;
    font-weight: bold;
}
.placingOrderBlock h4{
    margin-bottom: 15px;
}
.placingOrderBlock h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.orderStatusInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.orderStatusInput:first-child{
    margin-top: 10px;
}
.orderStatusInput:last-child{
    margin-bottom: 0;
}
.orderStatusInputBtn{
    background-color: #111111;
    border-radius: 8px;
    padding: 1px 15px 1px 16px;
}
.orderStatusInputBtnImg{
    width: 11px;
    height: 14px;
}
.placingOrderInfoContainer{
    width: calc(100% - 5px);
}
.firstInfoContainer{
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-wrap: wrap;
    margin: 5px 5px 5px 0;
}
.firstInfoContainer:last-child{
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-wrap: wrap;
    margin: 5px 0 5px 5px;
}
.firstInfoBlock{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 8px;
    line-height: 22px;
    font-size: 14px;
    flex-wrap: wrap;
}
.firstInfoBlock h3{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.placingOrderInfoBlock{
    width: calc(100%);
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 8px 8px 10px;
    font-size: 14px;
    flex-wrap: wrap;
    margin: 5px 0 10px;
}
.placingOrderInfoBlock h4{
    font-weight: bold;
}
.placingOrderInfoBlock p{
    margin: 1px 0;
}
.placingOrderInfoBlock h3{
    font-weight: 600;
    font-size: 17px;
    margin: 0 0 8px 0;
}
.placingOrderInfoBlock h3:first-child{
    margin: 5px 0 5px;
}
.placingOrderInfoBlock b{
    font-weight: 600;
}
.mini-cart-item-title{
    font-weight: bold;
}

.orderStatusBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 180px;
    font-weight: 500;
    margin-top: 10px;
}
.orderStatusBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderStatusTimes,
.orderStatusTitles {
    display: flex;
    flex-direction: column;
}

.orderStatusLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
}

.orderStatusLine div {
    width: 2px;
    height: 36px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}
.check-cart-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #dedede;
    border-radius: 8px;
    height: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}
.check-cart-item:last-child{
    margin-bottom: 0;
}
.check-cart-trek-inputs{
    width: calc(100% - 8px);
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dedede;
}
.check-cart-trek-inputs h3{
    margin-bottom: 10px;
}
.check-cart-trek-inputs button{
    border: 2px solid #111111;
    width: 100%;
    border-radius: 10px;
    color: #111111;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.orderStatusLine div:first-child {
    width: 2px;
    height: 36px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    border-radius: 3px 3px 0 0 ;
}
.orderStatusLine div:last-child {
    width: 2px;
    height: 36px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    border-radius:  0 0 3px 3px;
}
.statusLineCheckImg{
    width: 11px;
    height: 11px;
    margin-right: 0px;
    margin-top: 12px;
}
.orderStatusTitleBlock{
    padding: 8px 0 9px 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 200px;
}
.orderStatusTimeBlock{
    padding: 8px 0 9px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 140px;
}
.products-value-block{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 320px;
}
.products-value-cont{
    width: calc(100% + 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
    margin-top: 6px;
    margin-right: 2px;
}
.order-input-title{
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
}
.order-input-title p{
    font-size: 12px;
    font-weight: 400;
    color: #7c7c7c;
}
.deliveryMethodBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deliveryMethodBlockInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deliveryMethodInput{
    width: calc(50% - 7.5px);
    height: 52px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    padding: 6px 10px 6px;
    outline: none;
    color: #111111;
    margin-bottom: 10px;
    cursor: pointer;
}
.deliveryInputBlock{
    width: calc(50% - 7.5px);
    font-size: 14px;
    cursor: pointer;
}
.deliveryInputThreeBlocks{
    width: calc(33.3% - 9px);
    font-size: 14px;
    cursor: pointer;
}
.deliveryMethodInputC{
    width: calc(100%);
    height: 52px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #fafafa;
    background-color: #ffffff;
    padding: 6px 10px 6px;
    outline: none;
    color: #111111;
    margin-top: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
.selectedDeliveryMethodInput{
    width: calc(50% - 7.5px);
    height: 52px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #111111;
    background-color: #ffffff;
    padding: 6px 10px 6px;
    outline: none;
    color: #111111;
    margin-bottom: 10px;
    cursor: pointer;
}
.deliveryMethodInputTitle{
    font-size: 14px;
    font-weight: 600;
}
.deliveryMethodInputText {
    font-size: 12px;
    color: #818181;
}
.signUpBlock h2{
    margin-bottom: 15px;
}
.signUpBlockText{
    margin: 5px 0 30px 0;
    color: #606060;
    font-size: 14px;
}
.loginLink{
    font-weight: bold;
    font-size: 14px;
    color: #111111;
}
.placingOrderBlock input{
    width: calc(100%);
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 11px 10px 9px;
    outline: none;
    color: #111111;
    margin-bottom: 10px;
}
.placingOrderBlock input:active{
    outline: none;
}
.placingOrderBlock input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    color: #111111;
}
.placingOrderBlockButton{
    border-radius: 10px;
    margin-top: 10px;
    width: calc(100%);
    height: 50px;
    background-color: #111111;
    color: #fafafa;
    padding: 0 10px;
    outline: none;
    border: 2px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 70px;
}
.googleLogin{
    width: calc(100%);
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #afafaf;
    background-color: #ffffff;
    padding: 15px 10px 14px;
    text-align: center;
    font-weight: bold;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111111;
    margin-top: 10px;
    cursor: pointer;
}
.googleLogin p{
    margin: 0;
    align-items: center;
    display: flex;
    color: #111111;
}
.Google-logo{
    width: 26px;
    height: 26px;
    margin-left: 10px;
}
.errorMessage{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    color: #d50404;
}
